.krystal-tiddler__title {
  display: none;
}

@media (min-width: 960px) {
  .krystal-tiddler__title {
    display: block;
    line-height: var(--tiddler-padding);
    bottom: 0px;
    left: 0px;
    position: sticky;
    width: 0;
    height: 0;
    transform: rotate(-90deg);
    margin-top: auto;
    opacity: 0;
    transition: opacity 0.25s ease;  
  }

  .krystal-tiddler__title--start-active,
  .krystal-tiddler__title--end-active {
    opacity: 1;
  }

  .krystal-tiddler__title > a.tc-tiddlylink {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 400 !important;
    text-decoration: none !important;
    width: calc(100vh - var(--krystal-header-height) - ( 2 * var(--tiddler-padding)));
    display: block;
    overflow: hidden;
    pointer-events: none;
    margin-top: calc(var(--tiddler-padding) * -1);
    transform: translateY(-2px);
  }

  .krystal-tiddler__title > a.tc-tiddlylink:hover {
    line-height: 2em;
  }
  .krystal-tiddler__title--start-active > a.tc-tiddlylink,
  .krystal-tiddler__title--end-active> a.tc-tiddlylink {
    pointer-events: initial;
    border: none;
  }

  .krystal-tiddler__title--end > a {
    transform: translateY(2px) rotate(180deg);
  }
}
